@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="text-center text-white bg-primary masthead">
    <div class="container">
        <img class="rounded-circle img-fluid d-block mx-auto mb-5" src="~/img/kenny.png">
        <h1>John Kenny Reyes</h1>
        <hr class="star-light">
        <h2 class="fw-light mb-0">Web Developer - Graphic Artist - 3D Artist</h2>
    </div>
</header>

<section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">3D Portfolio</h2>
        <hr class="star-dark mb-5" />
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid object-fit-contain" src="~/img/portfolio/Bahay kubo.webp" />
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="~/img/portfolio/Geo Nodes Earth.png" />
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="~/img/portfolio/Mobo Pers.webp" />
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid object-fit-fill" src="~/img/portfolio/Reinspire 7 Dynamic Final.webp" width="356" height="200" />
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="~/img/portfolio/Reinspire 17.webp" />
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="~/img/portfolio/Reinspire 1 Final.webp" />
                </a>
            </div>
        </div>
    </div>
</section>

<section id="about" class="text-white bg-primary mb-0">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">About ME</h2>
        <hr class="star-light mb-5" />
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">Born to be a Game Dev, forced to be in IT. Di pa alam if papasa sa softeng but i&#39;ll still do my best</p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">I&#39;m just a poor boy, nobody loves me<br />He&#39;s just a poor boy from a poor family<br />Spare him his life from this monstrosity</p>
            </div>
        </div>
    </div>
</section>

<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p>San Bartolome<br />Novaliches, Quezon City</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Around the Web</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-dribbble fa-fw"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">IPT101</h4>
                <p class="lead mb-0"><span>This is an website design for IPT101</span></p>
            </div>
        </div>
    </div>
</footer>


