@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="text-center text-white bg-primary masthead">
    <div class="container">
        <img class="rounded-circle img-fluid d-block mx-auto mb-5" src="assets/img/2023-03-23%2020_41_26-Window.png">
        <h1>John Kenny Reyes</h1>
        <hr class="star-light">
        <h2 class="fw-light mb-0">Web Developer - Graphic Artist - 3D Artist</h2>
    </div>
</header>


